{% extends 'layout.mjml.twig' %}

{% block body %}
    <mj-section>
        <mj-column>
            <mj-text>
                Hello {{ username }}
                <h1>Ceci est un titre</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum sit, nulla unde laboriosam id eveniet obcaecati animi in laborum tenetur neque at dicta adipisci labore itaque ipsa quas doloribus iste?</p>
            </mj-text>

            <mj-spacer></mj-spacer>

            <mj-table cellpadding="10px" borderwidth="2px">
                <thead>
                    <tr style="border-bottom: 2px solid #333">
                        <th align="left">Colonne 1</th>
                        <th align="left">Colonne 2</th>
                        <th align="left">Colonne 3</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in 1..10 %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>azeaze</td>
                            <td>azeaze</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </mj-table>
        </mj-column>
    </mj-section>
    <mj-section>
        <mj-column>
            <mj-button href="http://google.fr" background-color="{{ PRIMARY }}">Btn Primary</mj-button>
        </mj-column>
        <mj-column>
            <mj-button href="http://google.fr">Btn Secondary</mj-button>
        </mj-column>
    </mj-section>
{% endblock %}