{% set PRIMARY = '#007681' %}

{% apply inline_css %}
    {% apply mjml_to_html %}
        <mjml>
            <mj-head>
                <mj-style>
                    .mycustomclass {
                        color: #222;
                    }
                    .text-center {
                        text-align: center;
                    }
                </mj-style>
            </mj-head>
            <mj-body>
                <mj-section background-color="#a71e26">
                    <mj-column>
                        <mj-text color="#fff" align="center">
                            <h1>
                                {{ APP_NAME }}
                            </h1>
                        </mj-text>
                    </mj-column>
                </mj-section>

                {% block body %}{% endblock %}

                <mj-section background-color="#eee">
                    <mj-column>
                        <mj-text color="#444" align="center">
                            <a href="http://google.fr" class="mycustomclass">
                                {{ APP_NAME }}
                            </a>
                        </mj-text>
                    </mj-column>
                </mj-section>
            </mj-body>
        </mjml>
    {% endapply %}
{% endapply %}